click==8.2.1
iniconfig==2.1.0
loguru==0.7.3
lxml==6.0.1
networkx==3.5
numpy==2.3.2
packaging==25.0
pandas==2.3.2
pluggy==1.6.0
polars==1.32.3
psutil==7.0.0
pyarrow==21.0.0
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tqdm==4.67.1
tzdata==2025.2